version: "3.9"

x-ulimits: &default_ulimits
  ulimits:
    nofile:
      soft: 65535
      hard: 65535


name: arr-stack

services:
  prowlarr:
    <<: *default_ulimits
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    restart: unless-stopped
    ports: ["9696:9696"]
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - /opt/containers/prowlarr:/config
    networks: [arrnet]

  sonarr:
    <<: *default_ulimits
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    restart: unless-stopped
    ports: ["8989:8989"]
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    mem_limit: 2g
    volumes:
      - /opt/containers/sonarr:/config
      - /mnt/plex-merged/shows:/mnt/plex-merged/shows
      - /mnt/SABNZBD:/mnt/SABNZBD
    networks: [arrnet]
    depends_on: [prowlarr]

  radarr:
    <<: *default_ulimits
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    restart: unless-stopped
    ports: ["7878:7878"]
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    mem_limit: 2g
    volumes:
      - /opt/containers/radarr:/config
      - /mnt/plex-merged/movies:/mnt/plex-merged/movies
      - /mnt/SABNZBD:/mnt/SABNZBD
    networks: [arrnet]
    depends_on: [prowlarr]

  overseerr:
    <<: *default_ulimits
    image: sctx/overseerr:latest
    container_name: overseerr
    restart: unless-stopped
    ports: ["5055:5055"]
    environment:
      - TZ=Europe/London
    volumes:
      - /opt/containers/overseerr:/app/config
    networks: [arrnet]

  notifiarr:
    <<: *default_ulimits
    image: golift/notifiarr:latest
    container_name: notifiarr
    restart: unless-stopped
    ports:
      - "5454:5454"
    environment:
      - TZ=Europe/London
    volumes:
      - /opt/containers/notifiarr:/config
    networks: [arrnet]

  bazarr:
    <<: *default_ulimits
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /opt/containers/bazarr:/config
      - /mnt/plex-merged/movies:/mnt/plex-merged/movies
      - /mnt/plex-merged/shows:/mnt/plex-merged/shows
    ports:
      - 6767:6767
    networks: [arrnet]
  
  tautulli:
    <<: *default_ulimits
    image: lscr.io/linuxserver/tautulli:latest
    container_name: tautulli
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /opt/containers/tautilli:/config
    ports:
      - 8181:8181
    networks: [arrnet]
    restart: unless-stopped


networks:
  arrnet:
    name: arrnet
