version: "3.9"
name: arr-stack

services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    restart: unless-stopped
    ports: ["9696:9696"]
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - /opt/containers/prowlarr:/config
    networks: [arrnet]

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    restart: unless-stopped
    ports: ["8989:8989"]
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - /opt/containers/sonarr:/config
      - /mnt/plex-merged/shows:/mnt/plex-merged/shows
      - /mnt/SABNZBD:/mnt/SABNZBD
    networks: [arrnet]
    depends_on: [prowlarr]

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    restart: unless-stopped
    ports: ["7878:7878"]
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - /opt/containers/radarr:/config
      - /mnt/plex-merged/movies:/mnt/plex-merged/movies
      - /mnt/SABNZBD:/mnt/SABNZBD
    networks: [arrnet]
    depends_on: [prowlarr]

  overseerr:
    image: sctx/overseerr:latest
    container_name: overseerr
    restart: unless-stopped
    ports: ["5055:5055"]
    environment:
      - TZ=Europe/London
    volumes:
      - /opt/containers/overseerr:/app/config
    networks: [arrnet]

  notifiarr:
    image: golift/notifiarr:latest
    container_name: notifiarr
    restart: unless-stopped
    environment:
      - TZ=Europe/London
    volumes:
      - /opt/containers/notifiarr:/config
    networks: [arrnet]

networks:
  arrnet:
    name: arrnet
