version: "3.9"

x-ulimits: &default_ulimits
  ulimits:
    nofile:
      soft: 65535
      hard: 65535


name: arr-stack

services:
  prowlarr:
    <<: *default_ulimits
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    restart: unless-stopped
    ports: ["9696:9696"]
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - /opt/containers/prowlarr:/config
    networks: [arrnet]

  sonarr:
    <<: *default_ulimits
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    restart: unless-stopped
    ports: ["8989:8989"]
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    mem_limit: 2g
    volumes:
      - /opt/containers/sonarr:/config
      - /mnt/plex/:/mnt/plex
    networks: [arrnet]
    depends_on: [prowlarr]

  radarr:
    <<: *default_ulimits
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    restart: unless-stopped
    ports: ["7878:7878"]
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    mem_limit: 2g
    volumes:
      - /opt/containers/radarr:/config
      - /mnt/plex/:/mnt/plex
    networks: [arrnet]
    depends_on: [prowlarr]

  seerr:
    <<: *default_ulimits
    image: ghcr.io/seerr-team/seerr:latest
    container_name: seerr
    restart: unless-stopped
    ports: ["5055:5055"]
    environment:
      - TZ=Europe/London
      - PUID=1000
      - PGID=1000
    volumes:
      - /opt/containers/seerr:/app/config
    networks: [arrnet]

  notifiarr:
    <<: *default_ulimits
    image: golift/notifiarr:latest
    container_name: notifiarr
    restart: unless-stopped
    ports:
      - "5454:5454"
    environment:
      - TZ=Europe/London
    volumes:
      - /opt/containers/notifiarr:/config
    networks: [arrnet]

  bazarr:
    <<: *default_ulimits
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /opt/containers/bazarr:/config
      - /mnt/plex/:/mnt/plex
    ports:
      - 6767:6767
    networks: [arrnet]
  
  tautulli:
    <<: *default_ulimits
    image: lscr.io/linuxserver/tautulli:latest
    container_name: tautulli
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /opt/containers/tautilli:/config
    ports:
      - 8181:8181
    networks: [arrnet]
    restart: unless-stopped

  dispatcharr:
    image: ghcr.io/dispatcharr/dispatcharr:latest
    container_name: dispatcharr
    ports:
      - 9191:9191
    mem_limit: 10g
    volumes:
      - /opt/containers/dispatcharr:/data
    environment:
      - DISPATCHARR_ENV=aio
      - REDIS_HOST=localhost
      - CELERY_BROKER_URL=redis://localhost:6379/0
      - DISPATCHARR_LOG_LEVEL=info
    networks: [arrnet]
    restart: unless-stopped
  aurral:
    <<: *default_ulimits
    image: ghcr.io/lklynet/aurral:latest
    restart: unless-stopped
    ports:
      - "3001:3001"
    environment:
      - DOWNLOAD_FOLDER=/mnt/plex/Music
    volumes:
      - /mnt/plex/Music:/app/downloads
      - /opt/containers/aurral:/app/backend/data

  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /opt/containers/lidarr/config:/config
      - /mnt/plex/Music:/music
      - /mnt/plex/Downloads:/downloads
    ports:
      - 8686:8686
    restart: unless-stopped
  
networks:
  arrnet:
    name: arrnet
